NEXT_PUBLIC_SITE_URL=https://anticlock.online
# NEXT_PUBLIC_APP_STORE_URL=
# NEXT_PUBLIC_PLAY_STORE_URL=
# NEXT_PUBLIC_TWITTER_URL=
# NEXT_PUBLIC_INSTAGRAM_URL=
# NEXT_PUBLIC_FACEBOOK_URL=
# NEXT_PUBLIC_LINKEDIN_URL=
