{
	email {$ACME_EMAIL}
}

(security_headers) {
	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
}

{$ADMIN_DOMAIN} {
	import security_headers
	encode zstd gzip
	reverse_proxy admin:3000
}

{$API_DOMAIN} {
	import security_headers
	encode zstd gzip
	reverse_proxy api:4000
}
