<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAclQQtiX6ssKze0Gfuw3qhxmFAG8IkIew</string>
	<key>GCM_SENDER_ID</key>
	<string>919939645074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anticlock.app</string>
	<key>PROJECT_ID</key>
	<string>anticlock-ba9db</string>
	<key>STORAGE_BUCKET</key>
	<string>anticlock-ba9db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919939645074:ios:e13b6a585e8f3e6feb704b</string>
</dict>
</plist>